<div class="container">
    <h1>Google</h1>
    <div class="row">
        <button type="button" class="btn btn-primary" (click)="signInWithGoogle()">Loggin</button>
        <button type="button" class="btn btn-primary" (click)="signOut()">Logout</button>
    </div>
    <div *ngIf="user">
        <div class="row">
            <div class="card-block"></div>
            <img style="width: 100px;height: 100px;" class="card-img-top img-responsive photo" src="{{ user.photoUrl }}">
        </div>
        <div class="row">
            <div class="card-block">
                <h4 class="card-title">{{ user.name }}</h4>
                <p class="card-text">{{ user.email }}</p>
            </div>
        </div>
    </div>
    <h1>Linkedin</h1>
    <div class="row">
        <button type="button" class="btn btn-primary" (click)="signInWithLinkedin()">Loggin</button>
        <button type="button" class="btn btn-primary" (click)="signOut()">Logout</button>
    </div>
</div>